<footer class="footer">
  <div class="footer__container">
    <div class="footer__links">
      <div class="footer__link--wrapper">
        <div class="footer__link--items">
          <h2>About Us</h2>
          <a href="/templates/SignAi.html">Terms of Service</a>
        </div>
        <div class="footer__link--items">
          <h2>Contact Us</h2>
          <a href="/">Contact</a> 
        </div>
      </div>
      <div class="footer__link--wrapper">
        <div class="footer__link--items">
          <h2>Social Media</h2>
          <a href="/">Instagram</a> 
          <a href="/">Facebook</a>
          <a href="/">Youtube</a>
          <a href="/">X</a>
        </div>
      </div>
    </div>
    <section class="social__media">
      <div class="social__media--wrap">
        <div class="footer__logo">
          <a href="/" id="footer__logo"></i>SIGNTIME</a>
        </div>
        <p class="website__rights">© GestureGenius 2024. All rights reserved - Top E</p>
        <div class="social__icons">
          <a class="social__icon--link" href="/" target="_blank" aria-label="Facebook">
            <i class="fab fa-facebook"></i>
          </a>
          <a class="social__icon--link" href="/" target="_blank" aria-label="Instagram">
            <i class="fab fa-instagram"></i>
          </a>
          <a class="social__icon--link" href="/" target="_blank" aria-label="Youtube">
            <i class="fab fa-youtube"></i>
          </a>
          <a class="social__icon--link" href="/" target="_blank" aria-label="Twitter/X">
            <i class="fab fa-twitter"></i>
          </a>
          <a class="social__icon--link" href="/" target="_blank" aria-label="LinkedIn">
            <i class="fab fa-linkedin"></i>
          </a>
        </div>
      </div>
    </section>
  </div>
</footer>