{% extends 'layout.html' %}

{% block content %}
  <div class="main">
    <div class="main__container">
      <div class="main__content">
        <h1>Be One With The Future</h1>
        <h2>TECHNOLOGY!!!</h2>
        <button class="main__btn"><a href="#">Get Started</a></button>
      </div>
      <div class="main__img--container">
        <img id="main__img" src="static/images/pic1.jpg" />
      </div>
    </div>
  </div>

  <div class="info__container">
    <div class="info__part">
      <div class="info__part--wrapper">
        <div class="info__part--items">
          <h2>Comprehensive Sign Language Dictionary</h2>
          <a>Our website features an extensive sign language dictionary that includes images and detailed definitions for each sign. Users can easily search for and learn individual signs, making it an ideal resource for beginners and advanced learners alike. Each entry is designed to provide clear, concise information to help you master the nuances of sign language effectively.</a>
        </div>
        <div class="info__part--items">
          <h2>Interactive Learning Experience</h2>
          <a>We believe in the power of interactive learning. Our platform offers a user-friendly interface where you can practice and test your knowledge of sign language. With features like quizzes, flashcards, and video tutorials, you'll find a variety of engaging ways to reinforce your learning and track your progress. This hands-on approach ensures a more immersive and enjoyable learning experience.</a>
        </div>
      </div>
      <div class="info__part--wrapper">
        <div class="info__part--items">
          <h2>AI-Powered Sign Language Translation (Coming Soon)</h2>
          <a>In the near future, our website will include a groundbreaking AI tool that can identify sign language gestures through your device's camera and translate them into words in real time. This innovative feature will not only assist learners in verifying their signs but also facilitate communication for those who rely on sign language as their primary mode of communication. Stay tuned for this exciting development that aims to bridge the gap between sign language users and the hearing community.</a>
        </div>
      </div>
    </div>
  </div>

  {% endblock %}